﻿@model TestApsProject.Models.Person
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>

    <h4>Person</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="_id" class="control-label"></label>
                    <input asp-for="_id" class="form-control" />
                    <span asp-validation-for="_id" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="index" class="control-label"></label>
            <input asp-for="index" class="form-control" />
            <span asp-validation-for="index" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="balance" class="control-label"></label>
                    <input asp-for="balance" class="form-control" />
                    <span asp-validation-for="balance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="picture" class="control-label"></label>
                    <input asp-for="picture" class="form-control" />
                    <span asp-validation-for="picture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="age" class="control-label"></label>
                    <input asp-for="age" class="form-control" />
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="eyeColor" class="control-label"></label>
                    <input asp-for="eyeColor" class="form-control" />
                    <span asp-validation-for="eyeColor" class="text-danger"></span>
                </div>
                names:
                <div class="form-group">
                    <label asp-for="name.first" class="control-label"></label>
                    <input asp-for="name.first" class="form-control" />
                    <span asp-validation-for="name.first" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="name.last" class="control-label"></label>
                    <input asp-for="name.last" class="form-control" />
                    <span asp-validation-for="name.last" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="company" class="control-label"></label>
                    <input asp-for="company" class="form-control" />
                    <span asp-validation-for="company" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="phone" class="control-label"></label>
                    <input asp-for="phone" class="form-control" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="address" class="control-label"></label>
                    <input asp-for="address" class="form-control" />
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="about" class="control-label"></label>
                    <input asp-for="about" class="form-control" />
                    <span asp-validation-for="about" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="favoriteFruit" class="control-label"></label>
                    <input asp-for="favoriteFruit" class="form-control" />
                    <span asp-validation-for="favoriteFruit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
