﻿@model TestApsProject.Models.Person
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Person</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model._id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model._id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.index)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.index)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.balance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.balance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.picture)
            </dt>
            <dd class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.picture)">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.age)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.eyeColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.eyeColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.company)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.company)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.about)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.about)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.tags)
            </dt>
            <dd class="col-sm-10">
                @String.Join("; ", Model.tags)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.friends)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(String.Join(@";<br />", Model.friends))
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.favoriteFruit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.favoriteFruit)
            </dd>
        </dl>

        @*<form asp-action="DeletePerson">
            <input type="hidden" name="personId" value="@Model._id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>*@
        @using (Html.BeginForm("DeletePerson", "Person", FormMethod.Post))
        {
            <input type="hidden" value="@Model._id" name="id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index">Back to List</a>
        }
    </div>
</body>
</html>
