﻿@model TestApsProject.Models.Person
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Person</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                        <label asp-for="_id" class="control-label"></label>
                        <input asp-for="_id" class="form-control" />
                        <span asp-validation-for="_id" class="text-danger"></span>
                    </div>*@
                <input type="hidden" value="@Model._id" asp-for="_id" />
                <div class="form-group">
                    <label asp-for="index" class="control-label"></label>
                    <input asp-for="index" class="form-control" />
                    <span asp-validation-for="index" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="balance" class="control-label"></label>
                    <input asp-for="balance" class="form-control" />
                    <span asp-validation-for="balance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="picture" class="control-label"></label>
                    <input asp-for="picture" class="form-control" />
                    <span asp-validation-for="picture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="age" class="control-label"></label>
                    <input asp-for="age" class="form-control" />
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="eyeColor" class="control-label"></label>
                    <input asp-for="eyeColor" class="form-control" />
                    <span asp-validation-for="eyeColor" class="text-danger"></span>
                </div>
                names:
                <div class="form-group">
                    <label asp-for="name.first" class="control-label"></label>
                    <input asp-for="name.first" class="form-control" />
                    <span asp-validation-for="name.first" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="name.last" class="control-label"></label>
                    <input asp-for="name.last" class="form-control" />
                    <span asp-validation-for="name.last" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="company" class="control-label"></label>
                    <input asp-for="company" class="form-control" />
                    <span asp-validation-for="company" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="phone" class="control-label"></label>
                    <input asp-for="phone" class="form-control" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="address" class="control-label"></label>
                    <input asp-for="address" class="form-control" />
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="about" class="control-label"></label>
                    <textarea asp-for="about" class="form-control"></textarea>
                    <span asp-validation-for="about" class="text-danger"></span>
                </div>
                <div class="form-group" id="tags">
                    <script>
                            $(document).ready(function () {
                                $(document).on('click', ".tag-del-btn", function () {
                                    $(this).parent().hide();
                                    $(this).siblings(".tag-tb").val("");
                                })
                            })
                    </script>
                    <p>tags:</p>
                    @for (int i = 0; i < Model.tags.Count; i++)
                    {
                        <div>
                            @Html.TextBoxFor(m => Model.tags[i], Model.tags[i], new { @class = "tag-tb" })
                            <button type="button" class="tag-del-btn">-</button>
                        </div>
                    }
                </div>
                <div>
                    <script>
                        $(document).ready(function () {
                            var next_i = @Model.tags.Count;
                            $("#create_btn").click(function () {
                                var tb = document.createElement("input");
                                tb.type = "text";
                                tb.className = "tag-tb";
                                tb.id = `tags_${next_i}_`;
                                tb.name = `tags[${next_i}]`;
                                var btn = document.createElement("button");
                                btn.type = "button";
                                btn.textContent = "-";
                                btn.className = 'tag-del-btn';
                                $("#tags").append(tb)
                                $("#tags").append(btn);
                                $([tb, btn]).wrapAll("<div></div>");
                                next_i++;
                            })
                        })
                    </script>
                    <button type="button" id="create_btn">+</button>
                </div>
                <div class="form-group">
                    friends:
                    @for (int i = 0; i < Model.friends.Count; i++)
                    {
                        <div>
                            @Html.LabelFor(m => Model.friends[i].id)
                            @Html.TextBoxFor(m => Model.friends[i].id)
                        </div>
                        <div>
                            @Html.LabelFor(m => Model.friends[i].name)
                            @Html.TextBoxFor(m => Model.friends[i].name)
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="favoriteFruit" class="control-label"></label>
                    <input asp-for="favoriteFruit" class="form-control" />
                    <span asp-validation-for="favoriteFruit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
