﻿@model IEnumerable<TestApsProject.Models.Person>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Add">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model._id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.picture)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item._id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.picture)">
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item._id }) |
                        @Html.ActionLink("Details", "Details", new { id=item._id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item._id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
