﻿
@{
    ViewData["Title"] = "GetData";
}
<table id="myTable" class="table" cellspacing="0">
    <thead>
        <tr>
            @foreach (var property in Model.GetType().GetGenericArguments()[0].GetProperties())
            {
                <th>@property.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var property in item.GetType().GetProperties())
                {
                <td>
                    @if (property.Name == "picture")
                    {
                        <img src="@property.GetValue(item)">
                    }
                    else if (property.Name == "tags" || property.Name == "friends")
                    {
                        foreach(var listMember in @property.GetValue(item))
                        {
                            @(listMember.ToString()+"\n")
                        }
                    }
                    else
                    {
                        @property.GetValue(item)
                    }
                </td>
                }
            </tr>
        }
    </tbody>
</table>
